---
import Layout from "@layouts/Layout.astro";
import Navbar from "@components/NavbarEN.astro";
import { t, changeLanguage } from "i18next";
import { slide } from "astro:transitions";

changeLanguage("en");

export function getStaticPaths() {
  return [
    { params: { productos: "queso-fresco" } },
    { params: { productos: "queso-panela" } },
    { params: { productos: "queso-oaxaca" } },
    { params: { productos: "queso-seco" } },
    { params: { productos: "chorizo" } },
  ];
}
const { productos } = Astro.params;
console.log(productos);
const info = [
  {
    path: "/productos/queso-fresco",
    img: "https://mygourmet.com.mx/wp-content/uploads/2022/04/Queso-artesanal-1024x681-1.jpg",
    text: t("productos.fresco-text"),
    title: t("productos.queso-fresco"),
  },
  {
    path: "/productos/queso-panela",
    img: "/cotija.png",
    text: t("productos.panela-text"),
    title: t("productos.queso-panela"),
  },
  {
    path: "/productos/queso-oaxaca",
    img: "/oaxaca.png",
    text: t("productos.oaxaca-text"),
    title: t("productos.queso-oaxaca"),
  },
  {
    path: "/productos/queso-seco",
    img: "/cotija.png",
    text: t("productos.seco-text"),
    title: t("productos.queso-seco"),
  },
  {
    path: "/productos/chorizo",
    img: "/chorizo.png",
    text: t("productos.chorizo-text"),
    title: t("productos.chorizo"),
  },
];
// const currentPath = window.location.pathname;
// console.log(currentPath);
const currentInfo = info.find((i) => i.path === `/productos/${productos}`);
---

<Layout title={`Wislin - ${productos}`}>
  <main transition:animate={slide({ duration: "0.9s" })}>
    <div>
      <Navbar />
      <hr class="border border-gray-300" />
      <div class="my-12">
        {
          currentInfo && (
            <>
              <h1 class="text-4xl font-bold text-center mb-16 text-red-600 uppercase">
                {currentInfo.title}
              </h1>
              <div class="flex items-center justify-center w-[70%] mx-auto flex-col md:flex-row gap-16">
                <img src={currentInfo.img} class="w-96 rounded-2xl" alt="" />
                <p class="text-center break-all text-2xl">{currentInfo.text}</p>
              </div>
            </>
          )
        }
      </div>
    </div>
    <footer class="bg-white rounded-lg shadow">
      <div class="w-full mx-auto p-4 md:py-8">
        <hr
          class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
        />
        <span
          class="block text-red-700 text-xl font-Roboto font-medium text-center dark:text-red-700"
          >© 2024 <a href="https://wislinfarm.com/" class="hover:underline"
            >WisliFarm</a
          >. {t("footer.title")}.</span
        >
      </div>
    </footer>
  </main>
</Layout>
